/* CSS styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

/* Add margin-bottom to the sugar input field */
#sugar {
    margin-bottom: 15px;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#predictionResult {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #007bff;
}
.error-message {
    color: red; /* Set error message color to red */
    font-size: 12px;
    margin-top: 5px;
}

.prediction-text {
    color: #007bff; /* Change the color to blue */
    font-weight: bold; /* Optionally, make the text bold */
    font-size: 18px; /* Optionally, adjust the font size */
}
/* Style the prediction container */
.prediction-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align the content horizontally */
    margin-top: 10px; /* Adjust as needed */
}

/* Style the prediction label */
.prediction-label {
    font-weight: bold;
    color: #555;
}

/* Style the prediction result */
.prediction {
    margin-left: 25px; /* Add some spacing between the label and the prediction result */
    font-weight: bold;
    color: #007bff;
    text-align: center; /* Center-align the text */
}


